---
layout: null
title: Landing Page
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Lindström</title>
    <link rel="stylesheet" href="/_assets/css/styles.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R4WXMVPQ1L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R4WXMVPQ1L');
</script>
<script type="text/javascript" async
     src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
   </script>
</head>
<body>
    <header>
        <nav>
            <a href="#top">Home</a>
            <vline></vline>
            <a href="#list-of-papers">Papers</a>
            <vline></vline>
            <a href="#teaching-experience">Teaching Experience</a>
            <vline></vline>
            <a href="#misc">Miscellaneous</a>
        </nav>
    </header>

    <main>
        <section id="title-section">
            <div class="title-content">
                <h1>Martin Lindström</h1>
                <h2>PhD Student at <a href="https://www.kth.se">KTH</a></h2>
                <div class="links">
                    <a href="/email/">Email</a>
                    <vline></vline>
                    <a href="https://scholar.google.com/citations?user=_pt5Q2MAAAAJ">Google Scholar</a>
                    <vline></vline>
                    <a href="https://github.com/martinlindstrom">GitHub</a>
                </div>
            </div>
            <img class="profile-image" src="/_assets/images/martin.jpg" alt="Profile pic">
        </section>
        <!-- Include bio and image from separate file -->
        <section id="biography">
            {% capture bio_include %}{% include_relative _pages/bio.md %}{% endcapture %}
            {{ bio_include | markdownify }}
        </section>

        <hr>
        
        <!-- Include papers in reverse chronological order -->
        <section id="list-of-papers">
            <h1>Papers</h1>
            {% assign sorted_papers = site.papers | sort: "name" | reverse %}
            {% for paper in sorted_papers %}
                <div class="paper-entry">
                    <div class="text-content">
                        {{ paper.content | markdownify }}
                        <div class="links-container">
                            {% if paper.arxiv %}
                            <a href="{{ paper.arxiv }}">arXiv</a>
                            {% endif %}
                            {% if paper.arxiv and paper.bibtex %}
                            <span class="vline"></span>
                            {% endif %}
                            {% if paper.bibtex %}
                            <a href="{{ paper.bibtex }}">BibTeX</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="image-container">
                        {% if paper.image %}
                            <img src="{{ paper.image }}" alt="Illustration">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>

        <hr>
        
        <!-- Include teaching experience in reverse chronological order -->
        <section id="teaching-experience">
            <h1>Teaching Experience</h1>
            <item>
                <b>KTH <a href="https://www.kth.se/student/kurser/kurs/EQ1270?l=en">Stochastic Signals and Systems</a></b>: Autumns 2022-2024
                <br>
                <desc>3<sup>rd</sup> year BSc course on basic analysis of stochastic signals and systems. My TA duties included: hosting tutorial sessions, marking exams, and creating and marking project assignments.</desc>
            </item>
            <item>
                <b>KTH Student Supervision</b>: 
                <br>
                <desc>Supervision for MSc theses (30 ECTS, equivalent to half an academic year of study), typically one student per year for a project pitched by engineering companies. Occasionally supervision of summer research interns.</desc>
            </item>
            <item>
                <b>KTH <a href="https://www.kth.se/student/kurser/kurs/EQ2801?l=en">Optimal Filtering</a></b>: Autumn 2022
                <br>
                <desc>Joint MSc and PhD course on designing (primarily linear) optimal filters, in the MMSE sense. My TA duties included marking homework assignments.</desc>
            </item>
            <item>
                <b>KTH <a href="https://www.kth.se/student/kurser/kurs/EP1200?l=en">Introduction to Computing Systems Engineering</a></b>: Springs 2019 and 2020
                <br>
                <desc>1<sup>st</sup> year BSc course where students design a computer from scratch. My TA duties mainly included helping students with lab assignments.</desc>
            </item>
        </section>
        
        <hr>
        
        <!-- Miscellaneous heading -->
        <section id="misc">
            <h1>Miscellaneous</h1>
            <item>
                <b>Good Books</b>
                <br>
                <desc><a href="https://www.kth.se/profile/gk">Gunnar Karlsson</a>'s list of <a href="https://www.kth.se/profile/gk/page/literature-for-engineers-and-computer-scientists">good books</a> is excellent. It contains world classics, with a bias towards European literature in general, and Swedish literature in particular. If you have any good book suggestions, please reach out!</desc>
            </item>
            <item>
                <b>Good Textbooks and Lecture Notes</b>
                <br>
                <desc>Here are some of my favourite textbooks and lecture notes &mdash; and a short comment on why I like them.</desc>
                <ul>
                    <!-- <li>BETA Mathematics Handbook by Råde and Westergren &mdash; a 500 page formula sheet which contains almost everything from linear algebra, geometry, and calculus</li> -->
                    <li>"Elements of Information Theory" by Cover & Thomas &mdash; maybe the most user-friendly introduction to information theory</li>
                    <li>"Information Theory: From Coding to Learning" by Polyanskiy & Wu &mdash; a more advanced treatment of information theory, which contains almost all you need to know about the topic</li>
                    <li>"Convex Optimization" by Boyd & Vandenberghe &mdash; user-friendly introduction to optimisation problems which any self-respecting ML researcher should have a cursory understanding of</li>
                    <li>"Understanding Machine Learning: From Theory to Algorithms" by Shalev-Shwartz and Ben-David &mdash; a good introduction to classical theoretical machine learning, such as PAC-learnability, SVMs, etc.</li>
                    <li>"A Course in Real Analysis" by McDonald and Weiss &mdash; an introduction to measure-theoretic probability which I think is more accessible than the more popular works by Kallenberg and Cinlar</li>
                </ul>
            </item>
            <!-- <a class="twitter-timeline"
                href="https://twitter.com/martindlindstrm"
                data-tweet-limit="4">
                Tweets by @MartinDLindstrm</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
        </section>
    </main>

    <footer>
        <p style="float: right;">Last updated: 2025-08-26
        <br>
        Copyright &copy; 2025 Martin Lindström & Adam Peleback (<a href="https://adampeleback.com">adampeleback.com</a>)
        </p>
    </footer>
</body>
</html>
