/* === Import Google Fonts === */
@import url('https://fonts.googleapis.com/css2?family=Computer+Modern+Serif:wght@400;700&display=swap');

/* === Root Variables === */
:root {
    --header-height: 59px;
    --profile-image-size: 200px;
    --title-gap: 20px;
}

/* === Base Styles === */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    margin-top: var(--header-height);
    text-align: left;
    padding: 0 10px;
}

main {
    flex: 1;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    font-size: 12px;
    padding: 0 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    scroll-margin-top: var(--header-height);
}

section:first-of-type {
    margin-bottom: 20px;
    margin-top: 20px;
}

section h1 {
    font-size: 40px;
    padding-bottom: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

section h2 {
    font-size: 22px;
    padding-bottom: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
}

section > p:first-of-type {
    margin-top: 0;
}

p {
    margin-top: 1em;
    margin-bottom: 0;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover, a:focus {
    color: #0056b3;
    text-decoration: underline;
}

/* === Typography === */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Computer Modern Serif', serif;
}

/* === Horizontal Line === */
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 100%;
    margin: 20px 0;
}

/* === Header === */
header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 1em 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

header nav a {
    text-decoration: none;
    color: #007bff;
}

header nav vline {
    height: 1em;
    width: 1px;
    background-color: black;
    margin: 0 8px;
    display: inline-block; 
}

/* === Title Section === */
#title-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* gap: var(--title-gap);
    margin-left: -20px; */
    width: 100%;
}

#title-section > * + * {
    margin-right: var(--title-gap);
}

#title-section .title-content {
    flex: 1;
    order: 2;
}

#title-section .links {
    display: flex;
    align-items: center;
}

#title-section .links vline {
    height: 1em;
    width: 1px;
    background-color: black;
    margin: 0 8px;
    display: inline-block; 
}

#title-section .profile-image {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 20px;
    flex-shrink: 0;
    order: 1;
}

/* === Biography Section === */


/* === List of Papers Section === */
#list-of-papers {
    /* Sets up a container for all the paper entries */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between each paper entry */
}

#list-of-papers .paper-entry {
    /* Styles the container for each individual paper */
    display: flex;
    gap: 20px; /* Space between the text and image sections */
    align-items: flex-start; /* Aligns content to the top */
}

#list-of-papers .text-content {
    /* Styles the main text content to take up the remaining space */
    flex: 1; /* Allows the text to grow and fill the available width */
}

#list-of-papers .links-container {
    display: flex;
    align-items: center; /* This centers the children vertically */
    margin-top: 20px;
}

#list-of-papers .vline {
    height: 1em;
    width: 1px;
    background-color: black;
    margin: 0 8px;
    display: inline-block;
}

#list-of-papers td .border-right {
    border-right: 1px solid black;
}

#list-of-papers .image-container {
    flex-basis: 0;
    flex-shrink: 1;
    overflow: hidden;
    height: 0;
}

#list-of-papers .image-container:has(img) {
    flex-basis: 200px;
    height: 200px;
    flex-shrink: 0;
}

#list-of-papers .image-container img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

/* === Teaching Experience Section === */
#teaching-experience {
    text-align: left;
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#teaching-experience item {
    display: block;
    margin-bottom: 20px;
}

/* #teaching-experience item a {
    text-decoration: none;
    color: #007bff;
} */

#teaching-experience item desc {
    display: inline-block;
    margin-left: 20px;
}

/* === Miscellaneous Section === */
#misc {
    text-align: left;
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#misc item {
    display: block;
    margin-bottom: 20px;
}

/* #misc item a {
    text-decoration: none;
    color: #007bff;
} */

#misc item desc {
    display: inline-block;
    margin-left: 20px;
}

#misc item ul {
    margin-left: 20px;
    padding-left: 20px;
    list-style-position: outside;
    list-style-type: disc;
}

/* === 404 Page === */
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-content {
    text-align: center;
}

.error-content p {
    margin: 0.5em 0;
}

.error-content form {
    margin-top: 1em;
}